<div class="row d-flex justify-content-center align-items-center my-4 ">
    <div class="col-md-5">
        <div class="wrapper shadow">
            <i class="bi bi-search"></i> <input type="text" id="myInput" autocomplete="off" class="form-control form-input" placeholder="Search anything...">
        </div>
    </div>
</div>